
.HomeCardProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 20px;
    padding: 20px 0;

}

.HomeCardProductContainer h2 {
    font-size: 55px;
    font-weight: 200;
    letter-spacing: 4px;
}

.HomeCardProductContainer h4 {
    font-family: 'Beau Rivage', sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
}

.text_container {
    text-align: center;
    color: white;
    
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 70%; 
}

.CardProduct {
    width: calc(33.33% - 20px); 
}
