.profile-image {
    width: 500px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
/* .profile-img-action-btn{
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    color: black;
    cursor: pointer;

} */